In [156]:
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import torch.nn as nn
from __future__ import print_function
import torch
import torch.optim as optim
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [157]:
housing=pd.read_csv('Housing.csv')
housing.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [158]:
housing.mainroad = housing.mainroad.map(dict(yes=1,no=0))
housing.guestroom = housing.guestroom.map(dict(yes=1,no=0))
housing.basement = housing.basement.map(dict(yes=1,no=0))
housing.hotwaterheating = housing.hotwaterheating.map(dict(yes=1,no=0))
housing.airconditioning = housing.airconditioning.map(dict(yes=1,no=0))
housing.prefarea = housing.prefarea.map(dict(yes=1,no=0))

housing.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [159]:
housing.shape

(545, 13)

In [160]:
num_vars=['price', 'area','bathrooms','bedrooms', 'stories', 'parking']
data_set=housing[num_vars]
data_set.head()

      price  area  bathrooms  bedrooms  stories  parking
0  13300000  7420          2         4        3        2
1  12250000  8960          4         4        4        3
2  12250000  9960          2         3        2        2
3  12215000  7500          2         4        2        3
4  11410000  7420          1         4        2        2

In [161]:
data_set.shape

(545, 6)

In [162]:
scaler = MinMaxScaler()
data_set[num_vars]= scaler.fit_transform(data_set[num_vars])
data_set.head()

C:\Users\nrashvan\AppData\Local\Temp\1\ipykernel_15120\1593678094.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set[num_vars]= scaler.fit_transform(data_set[num_vars])

      price      area  bathrooms  bedrooms   stories   parking
0  1.000000  0.396564   0.333333       0.6  0.666667  0.666667
1  0.909091  0.502405   1.000000       0.6  1.000000  1.000000
2  0.909091  0.571134   0.333333       0.4  0.333333  0.666667
3  0.906061  0.402062   0.333333       0.6  0.333333  1.000000
4  0.836364  0.396564   0.000000       0.6  0.333333  0.666667

In [163]:
X = data_set.iloc[:, 1:6].values
X.shape

(545, 5)

In [164]:
Y = data_set.iloc[:, 0].values
Y.shape

(545,)

In [165]:
Y =Y.reshape(-1,1)
Y.shape

(545, 1)

In [166]:
t_u=torch.tensor(X)
t_c=torch.tensor(Y)
t_c.shape

torch.Size([545, 1])

In [167]:
t_u.shape

torch.Size([545, 5])

In [168]:
n_samples= t_u.shape[0]
n_val= int(0.2 * n_samples)

shuffled_indices= torch.randperm(n_samples)

train_indices= shuffled_indices[:-n_val]
val_indices= shuffled_indices[-n_val:]

train_indices, val_indices

(tensor([ 50, 315, 325, 416,  95, 397, 293, 349, 445, 194,  74, 517,  80, 512,
         214, 314,  70, 202, 340, 252, 188, 492, 199, 177, 429, 289,  47, 102,
          97, 229, 225, 257,  48,   3, 259, 525, 527, 292, 204, 472, 379, 489,
         403, 374, 454, 398, 270, 157, 271, 460, 514, 218,  84, 134, 466, 420,
         196,  34, 285,  86, 419, 337, 328, 453, 250, 544,  57, 368, 329, 377,
         413, 160, 333, 296, 476, 185, 467, 311,  49, 529, 440, 100, 166, 523,
         140, 117, 258,  42, 459, 418, 146, 187, 104, 471, 540, 162, 247, 541,
         111, 430, 273, 354, 145, 496, 347,   8, 493,  91,  38, 536,  22, 361,
          28, 385, 255, 246,  60, 186, 530,  56, 244, 112, 176, 308, 399, 406,
         330, 490,  32, 230, 276, 520, 226, 407, 138, 228, 515, 542, 422, 241,
         510, 508,  11,  13, 462, 390, 487, 132, 363,  18, 394, 178, 414, 148,
         306,  66, 172, 261,  92, 498, 268, 121, 404, 372, 243, 505, 383,  61,
         428, 358, 163, 303, 316, 334, 310, 483, 366, 208, 123, 376,  36, 522,
         263, 107, 266, 113, 353, 304, 254, 357, 381, 470, 283, 362, 408, 147,
         264, 181,  14,  88, 412, 128, 400, 224, 245,  67, 441, 351, 215, 319,
         159, 509, 373, 108, 464, 415,  73, 474,  93, 322,  72, 205, 179,  16,
         203,  12, 198, 280, 478, 477, 532, 423, 265, 313, 345, 210,   2, 294,
         343, 190, 537,  45, 235, 142, 238, 109, 184, 465, 513, 344, 321, 274,
         239,  29, 411, 173,  51, 297, 287, 278, 236, 256, 291, 295, 479,  54,
         393,  68, 519,  58, 468,  52, 207, 269, 298, 443, 495, 105, 240, 501,
         206,  31, 143, 425,  98, 338, 154, 139, 301,  85, 435, 339,   1, 216,
         356, 387,  81, 130, 282, 153,  90, 348,  64, 183, 327, 473, 497, 543,
         485, 331, 481, 227, 305, 155, 277, 170, 450, 220, 380,  79, 103, 482,
         365, 378, 133, 209, 364,  40,  62, 336, 433, 421,   7, 326, 491, 275,
         131, 534, 502, 396,  65, 122,  26, 302, 279, 355, 126, 164, 499, 439,
          41, 189,   6, 168, 332, 524,  76, 341, 284, 500,  77, 158, 234, 437,
         431, 260, 192, 219, 389, 382, 115,  94,  63, 118, 149,  23, 211, 222,
         169,  24, 424,  25, 267, 521, 156, 151, 375,  82, 201, 350, 193, 232,
         446, 101, 452,  44, 116, 391,  21, 434, 486, 195, 535, 456, 539, 127,
          69, 432,  99, 253, 463,  15, 144, 531, 538, 120, 286,  55, 401, 197,
         231, 281, 392,  53, 346, 371, 106, 251, 233, 175,  30, 290, 469, 242,
         300, 114]),
 tensor([212, 369, 165, 447, 299, 475, 288, 119,  96, 488, 427, 417, 213, 110,
         171, 461, 359,  71, 167, 272, 136, 248, 516, 533,  37,  89, 388, 317,
         503, 507,   9, 320, 455, 438, 200,  20,  10, 457, 480, 318, 352,  17,
          27, 152, 370, 386,  19, 307, 506, 402, 323,  75, 342, 141, 137,  33,
          39, 309, 504, 409, 129, 405, 161, 223,  43, 526, 518, 249, 221, 449,
         335, 458,  87, 448,  35, 262, 217, 124, 494, 484, 135,  83, 125, 426,
         237,   5, 360,   4, 324, 312, 436, 191, 410,  46, 182,  59, 384, 395,
         180, 367, 444,  78, 511, 451,   0, 174, 528, 150, 442]))

In [169]:
train_t_u= t_u[train_indices]
train_t_c=t_c[train_indices]

val_t_u= t_u[val_indices]
val_t_c= t_c[val_indices]

In [170]:
from collections import OrderedDict

In [211]:
seq_model=nn.Sequential(OrderedDict([
    ('hidden_linear1', nn.Linear(5, 18)),
    ('hidden_activation1', nn.Tanh()), 
    ('hidden_linear2', nn.Linear(18,6)),
    ('hidden_activation2', nn.Tanh()),
    ('output_linear', nn.Linear(6, 1))
    
]))

seq_model

Sequential(
  (hidden_linear1): Linear(in_features=5, out_features=18, bias=True)
  (hidden_activation1): Tanh()
  (hidden_linear2): Linear(in_features=18, out_features=6, bias=True)
  (hidden_activation2): Tanh()
  (output_linear): Linear(in_features=6, out_features=1, bias=True)
)

In [212]:
for name, param in seq_model.named_parameters():
    print(name, param.shape)

hidden_linear1.weight torch.Size([18, 5])
hidden_linear1.bias torch.Size([18])
hidden_linear2.weight torch.Size([6, 18])
hidden_linear2.bias torch.Size([6])
output_linear.weight torch.Size([1, 6])
output_linear.bias torch.Size([1])

In [213]:
seq_model.output_linear.bias

Parameter containing:
tensor([-0.3149], requires_grad=True)

In [214]:
def training_loop(n_epochs, optimizer, model, loss_fn, train_t_u, val_t_u, train_t_c, val_t_c):
    for epoch in range(1,n_epochs +1):
        
        t_p_train=model(train_t_u)
        loss_train= loss_fn(t_p_train, train_t_c)
        
        t_p_val=model(val_t_u)
        loss_val= loss_fn(t_p_val, val_t_c)
        
        optimizer.zero_grad()
        loss_train.backward()
        optimizer.step()
        
        if epoch ==1 or epoch % 20==0:
            print(f"Epoch {epoch}, Training loss {loss_train.item():.4f}, "
                  f" Validation loss {loss_val.item():.4f}")

In [215]:
train_t_u = train_t_u.float()

In [216]:
print(train_t_u.dtype)

torch.float32

In [217]:
val_t_u=val_t_u.float()
print(val_t_u.dtype)

torch.float32

In [218]:
train_t_c=train_t_c.float()
print(train_t_c.dtype)

torch.float32

In [219]:
val_t_c=val_t_c.float()
print(val_t_c.dtype)

torch.float32

In [224]:
optimizer= optim.SGD(seq_model.parameters(), lr=1e-1)
training_loop(
    n_epochs=200,
    optimizer= optimizer,
    model=seq_model,
    loss_fn=nn.MSELoss(),
   train_t_u=train_t_u,
   val_t_u= val_t_u,
     train_t_c= train_t_c,
   val_t_c= val_t_c)
print('output', seq_model(val_t_u))
print('answer',  val_t_c)
print('hidden', seq_model.hidden_linear1.weight.grad)
print('hidden', seq_model.hidden_linear2.weight.grad)
print('hidden', seq_model.output_linear.weight.grad)

Epoch 1, Training loss 0.0123,  Validation loss 0.0145
Epoch 20, Training loss 0.0122,  Validation loss 0.0144
Epoch 40, Training loss 0.0121,  Validation loss 0.0143
Epoch 60, Training loss 0.0120,  Validation loss 0.0142
Epoch 80, Training loss 0.0119,  Validation loss 0.0141
Epoch 100, Training loss 0.0118,  Validation loss 0.0140
Epoch 120, Training loss 0.0117,  Validation loss 0.0139
Epoch 140, Training loss 0.0117,  Validation loss 0.0139
Epoch 160, Training loss 0.0116,  Validation loss 0.0138
Epoch 180, Training loss 0.0116,  Validation loss 0.0138
Epoch 200, Training loss 0.0115,  Validation loss 0.0137
output tensor([[0.3744],
        [0.1018],
        [0.2954],
        [0.0993],
        [0.3223],
        [0.1412],
        [0.2201],
        [0.2907],
        [0.2962],
        [0.3000],
        [0.1519],
        [0.1028],
        [0.2873],
        [0.2819],
        [0.3220],
        [0.1356],
        [0.1757],
        [0.4353],
        [0.3060],
        [0.2266],
        [0.4121],
        [0.2138],
        [0.1371],
        [0.1580],
        [0.5405],
        [0.5425],
        [0.1878],
        [0.3836],
        [0.1418],
        [0.1018],
        [0.4411],
        [0.2810],
        [0.1775],
        [0.1242],
        [0.2081],
        [0.2810],
        [0.4477],
        [0.1175],
        [0.2252],
        [0.1500],
        [0.2395],
        [0.5149],
        [0.2936],
        [0.2762],
        [0.2035],
        [0.2215],
        [0.3792],
        [0.2758],
        [0.0844],
        [0.1581],
        [0.2901],
        [0.3204],
        [0.2673],
        [0.4046],
        [0.2771],
        [0.4451],
        [0.4686],
        [0.2373],
        [0.0913],
        [0.1772],
        [0.4584],
        [0.1190],
        [0.2928],
        [0.2887],
        [0.4955],
        [0.0912],
        [0.0993],
        [0.3356],
        [0.3026],
        [0.1399],
        [0.1924],
        [0.1925],
        [0.2240],
        [0.1991],
        [0.4911],
        [0.1055],
        [0.3343],
        [0.4550],
        [0.1802],
        [0.0877],
        [0.4108],
        [0.4108],
        [0.4443],
        [0.1101],
        [0.2194],
        [0.4649],
        [0.1128],
        [0.3659],
        [0.2076],
        [0.1321],
        [0.1519],
        [0.3406],
        [0.1382],
        [0.4456],
        [0.1821],
        [0.4456],
        [0.1242],
        [0.2968],
        [0.3504],
        [0.1025],
        [0.1752],
        [0.2626],
        [0.1219],
        [0.1790],
        [0.4853],
        [0.2326],
        [0.0782],
        [0.2223],
        [0.1232]], grad_fn=<AddmmBackward0>)
answer tensor([[0.2721],
        [0.1667],
        [0.3145],
        [0.1212],
        [0.2121],
        [0.1048],
        [0.2121],
        [0.3636],
        [0.3939],
        [0.0955],
        [0.1370],
        [0.1424],
        [0.2721],
        [0.3758],
        [0.3030],
        [0.1152],
        [0.1697],
        [0.4333],
        [0.3061],
        [0.2242],
        [0.3455],
        [0.2418],
        [0.0606],
        [0.0303],
        [0.5394],
        [0.4061],
        [0.1515],
        [0.2000],
        [0.0788],
        [0.0727],
        [0.6970],
        [0.2000],
        [0.1194],
        [0.1303],
        [0.2727],
        [0.6061],
        [0.6970],
        [0.1182],
        [0.1030],
        [0.2000],
        [0.1758],
        [0.6242],
        [0.5758],
        [0.3303],
        [0.1636],
        [0.1545],
        [0.6152],
        [0.2091],
        [0.0739],
        [0.1515],
        [0.1970],
        [0.4242],
        [0.1818],
        [0.3379],
        [0.3455],
        [0.5576],
        [0.5333],
        [0.2061],
        [0.0782],
        [0.1455],
        [0.3570],
        [0.1485],
        [0.3212],
        [0.2606],
        [0.5152],
        [0.0485],
        [0.0606],
        [0.2418],
        [0.2612],
        [0.1212],
        [0.1879],
        [0.1182],
        [0.4091],
        [0.1212],
        [0.5481],
        [0.2333],
        [0.2667],
        [0.3636],
        [0.0848],
        [0.0970],
        [0.3485],
        [0.4182],
        [0.3630],
        [0.1388],
        [0.2485],
        [0.7879],
        [0.1697],
        [0.8364],
        [0.1955],
        [0.2033],
        [0.1333],
        [0.2848],
        [0.1455],
        [0.5000],
        [0.2939],
        [0.4727],
        [0.1576],
        [0.1515],
        [0.3000],
        [0.1667],
        [0.1273],
        [0.4242],
        [0.0667],
        [0.1212],
        [1.0000],
        [0.3030],
        [0.0455],
        [0.3333],
        [0.1273]])
hidden tensor([[-3.4839e-04, -1.0483e-04,  1.7444e-04,  9.7901e-05,  2.0754e-04],
        [-1.1480e-04, -4.3735e-05,  4.2273e-05, -6.0922e-07,  1.4032e-05],
        [-2.7971e-04, -7.2164e-05,  1.1121e-04,  8.3583e-06,  7.4880e-05],
        [ 7.3804e-04,  1.6598e-05, -5.6383e-04, -3.0677e-04, -4.3269e-04],
        [ 3.3408e-04,  8.6403e-05, -1.8787e-04, -8.4089e-05, -9.4139e-05],
        [ 4.7249e-04,  8.3832e-05, -2.4769e-04, -1.5089e-04, -1.3929e-04],
        [-3.6867e-04, -1.4341e-04,  1.5500e-04, -3.5543e-05,  9.7150e-05],
        [-1.4468e-04, -2.3955e-05,  1.5476e-04,  1.5111e-04,  1.2203e-04],
        [ 1.7983e-04,  6.9853e-05, -6.0510e-05,  1.4889e-06, -2.5342e-05],
        [ 1.8078e-04,  1.4031e-05, -1.1665e-04, -8.2548e-05, -1.1445e-04],
        [-4.1391e-04, -7.5753e-05,  2.5574e-04,  1.5310e-04,  1.2540e-04],
        [ 8.5569e-04,  2.7548e-04, -3.8420e-04, -1.2345e-04, -2.8696e-04],
        [-2.7913e-04, -6.7604e-05,  9.9124e-05,  8.7962e-05,  1.2278e-04],
        [-3.9674e-04, -1.2579e-04,  1.2572e-04, -4.3946e-05,  3.2468e-05],
        [-2.6949e-04, -6.8527e-05,  1.9876e-04,  1.7140e-04,  1.8712e-04],
        [ 3.8033e-05,  1.0062e-05,  2.1749e-05,  2.1545e-05,  2.2123e-06],
        [-1.2139e-04, -3.9226e-05,  9.7052e-05,  6.2844e-05,  6.9821e-05],
        [ 9.9564e-04,  5.4508e-05, -8.4525e-04, -4.4098e-04, -6.7287e-04]])
hidden tensor([[ 8.8065e-05, -2.7898e-04,  1.0462e-05, -1.5259e-04, -3.9781e-05,
         -9.4648e-05,  2.1547e-04,  4.2176e-04, -7.2125e-05,  5.5648e-05,
          4.6452e-05, -2.4798e-04,  3.0495e-04, -2.1652e-04, -3.6963e-04,
          3.4376e-04,  1.5948e-04, -2.1825e-04],
        [-5.4379e-05,  1.0909e-04, -2.9621e-05,  8.0794e-05,  4.2874e-06,
          6.6568e-05, -5.0734e-05, -1.3412e-04,  1.9529e-05,  1.4498e-05,
         -3.8968e-05,  9.0621e-05, -7.3780e-05,  5.8468e-05,  9.2811e-05,
         -8.8518e-05, -6.9443e-05,  1.1789e-04],
        [ 2.0428e-04, -3.8635e-04,  6.3608e-05, -3.0347e-04, -2.1430e-05,
         -2.4080e-04,  1.7497e-04,  4.1512e-04, -1.1761e-04, -8.7029e-05,
          1.7270e-04, -2.4984e-04,  1.6559e-04, -1.5257e-04, -2.6788e-04,
          2.1877e-04,  2.0191e-04, -3.7536e-04],
        [ 7.7018e-05, -4.5213e-04,  7.6479e-05, -8.6996e-05, -1.5533e-04,
         -1.4552e-04,  3.0031e-04,  9.8114e-04,  4.2176e-05,  3.5268e-04,
         -1.1013e-04, -6.6204e-04,  9.3872e-04, -6.0446e-04, -8.0697e-04,
          9.3640e-04,  5.3003e-04, -4.5348e-04],
        [-1.9575e-05,  3.9426e-05, -9.2249e-06,  2.9902e-05,  9.9451e-07,
          2.3435e-05, -1.8790e-05, -4.5663e-05,  9.0772e-06,  7.2125e-06,
         -1.5680e-05,  3.0122e-05, -2.2315e-05,  1.9101e-05,  3.1445e-05,
         -2.8267e-05, -2.2012e-05,  4.0022e-05],
        [ 2.4766e-04, -5.9172e-04,  1.3572e-04, -3.7777e-04, -5.9275e-05,
         -3.7546e-04,  2.3528e-04,  7.8489e-04, -1.0156e-04, -6.4309e-06,
          1.8065e-04, -5.3127e-04,  4.8245e-04, -3.7193e-04, -5.2950e-04,
          5.4518e-04,  4.3707e-04, -6.1529e-04]])
hidden tensor([[-2.4240e-04,  5.4265e-04, -1.1693e-05,  2.0204e-03,  3.5293e-04,
          1.2636e-03]])