In [946]:
import numpy as np
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import torch.nn as nn
from __future__ import print_function
import torch
import torch.optim as optim
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [947]:
housing=pd.read_csv('Housing.csv')
housing.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [948]:
housing.mainroad = housing.mainroad.map(dict(yes=1,no=0))
housing.guestroom = housing.guestroom.map(dict(yes=1,no=0))
housing.basement = housing.basement.map(dict(yes=1,no=0))
housing.hotwaterheating = housing.hotwaterheating.map(dict(yes=1,no=0))
housing.airconditioning = housing.airconditioning.map(dict(yes=1,no=0))
housing.prefarea = housing.prefarea.map(dict(yes=1,no=0))

housing.head(5)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished

In [949]:
housing.shape

(545, 13)

In [950]:
num_vars=['price', 'area','bathrooms','bedrooms', 'stories', 'parking']
data_set=housing[num_vars]
data_set.head()

      price  area  bathrooms  bedrooms  stories  parking
0  13300000  7420          2         4        3        2
1  12250000  8960          4         4        4        3
2  12250000  9960          2         3        2        2
3  12215000  7500          2         4        2        3
4  11410000  7420          1         4        2        2

In [951]:
data_set.shape

(545, 6)

In [952]:
scaler = MinMaxScaler()
data_set[num_vars]= scaler.fit_transform(data_set[num_vars])
data_set.head()

C:\Users\nrashvan\AppData\Local\Temp\1\ipykernel_16504\1593678094.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_set[num_vars]= scaler.fit_transform(data_set[num_vars])

      price      area  bathrooms  bedrooms   stories   parking
0  1.000000  0.396564   0.333333       0.6  0.666667  0.666667
1  0.909091  0.502405   1.000000       0.6  1.000000  1.000000
2  0.909091  0.571134   0.333333       0.4  0.333333  0.666667
3  0.906061  0.402062   0.333333       0.6  0.333333  1.000000
4  0.836364  0.396564   0.000000       0.6  0.333333  0.666667

In [953]:
X = data_set.iloc[:, 1:6].values
X.shape

(545, 5)

In [954]:
Y = data_set.iloc[:, 0].values
Y.shape

(545,)

In [955]:
Y =Y.reshape(-1,1)
Y.shape

(545, 1)

In [956]:
t_u=torch.tensor(X)
t_c=torch.tensor(Y)
t_c.shape

torch.Size([545, 1])

In [957]:
t_u.shape

torch.Size([545, 5])

In [958]:
n_samples= t_u.shape[0]
n_val= int(0.2 * n_samples)

shuffled_indices= torch.randperm(n_samples)

train_indices= shuffled_indices[:-n_val]
val_indices= shuffled_indices[-n_val:]

train_indices, val_indices

(tensor([452, 178,  90,  92,   5, 223,  98, 503, 429, 240, 405, 351, 360, 500,
         125, 349, 196, 439, 136, 279, 542, 516, 247, 194, 303, 220,  51,  39,
         501,   9, 221,  72, 121, 266, 298, 334, 244, 338, 532, 493, 379,  34,
         462, 506, 400, 325,  54, 248, 509, 239, 151, 488, 394, 337, 273, 149,
         472, 296, 459, 300, 135, 146,  16, 132, 420,  38, 396, 260, 278,  84,
         478, 130, 186, 440, 252, 253, 232, 290, 384, 116, 475, 416, 359, 456,
         409, 203, 189, 101, 301, 191, 451, 508, 374,  42,  69,  40, 115, 207,
         293, 352,  76, 286, 147, 222, 184, 110, 117, 246, 218, 295, 377, 343,
         517, 525, 490, 407, 431, 314, 534, 373, 281, 454, 141,  71,  63, 378,
         272, 320, 539,  25, 109, 521,  55, 474,   1, 283, 254, 127, 463, 527,
         519, 161,  88, 241, 181,  57, 205, 450, 496,  43,  10, 172, 399,  32,
         211, 289, 413,  45, 120, 169, 263, 261,  37, 306, 368,  81, 345, 236,
         250, 510, 140, 299, 425, 144, 235, 212,  73, 142, 382, 426, 199, 177,
         412, 312, 105, 357,  50, 481, 336, 411, 305, 363,   4, 197, 392, 371,
         330, 385, 333, 262, 387,  86,  19, 179, 297, 271, 162, 473,  52, 369,
         323,   0, 438, 511, 455, 376, 457,  46, 375, 536, 154, 100, 171, 397,
         112, 226,  66,  87, 129, 466, 128, 123, 224,  82, 124,   7, 315, 479,
         418,  28, 495, 353, 251, 515, 432,  74,  35, 256, 404,  26, 442, 419,
         340,   8, 192, 449, 468,  44, 227, 245, 372, 268, 446, 259, 453, 274,
          14, 188, 291, 264, 119, 217, 401,  93, 441,  60, 208,  75, 173, 126,
         421, 138,  83, 491, 497, 155, 390, 464, 356, 198,  22, 483,  61,  17,
         104, 328, 486, 282, 430, 108, 265,  13, 276, 170, 403, 160, 230, 229,
          65,  58, 520, 436, 190, 292, 424, 414, 535, 231, 234, 406, 367, 469,
         164, 175,  41, 111, 461,  24, 143, 157, 362, 470, 415, 148, 422, 134,
         137, 437, 275, 270, 538, 284, 342,  21, 448, 118, 484, 537, 165, 444,
         285,  97, 238, 410, 103,  18, 258,  94, 530, 485, 458, 531, 543, 398,
         354, 393,  27, 215, 443, 529, 487, 243,  70,  85,  49, 277, 255,  12,
         370, 269,  62, 145, 498, 341, 327,  20, 249, 267, 544, 541,  11,  15,
         391, 395, 512, 433, 280, 139, 311, 482, 180,  96, 168, 152, 319, 287,
         505, 193,  77, 182,  89, 202, 540, 107, 206, 326, 317, 214, 489, 131,
         225, 480, 346,  48, 523, 183, 318, 526, 159, 499, 388, 219,  95, 257,
         347, 167]),
 tensor([122, 492, 233,  56, 502, 237, 383, 447, 156, 435,  78, 524,  30, 166,
          67, 332, 355, 467, 106, 304, 313, 465,  68, 348,   6, 310,  64, 185,
         389, 201, 528,  47,  79,  29, 102,  36, 381, 423, 163,   3, 408, 335,
         187, 344, 150,  91, 380, 365, 434, 307, 533, 428, 329, 324,  53,  33,
         200,  80, 417, 308, 216, 494, 158, 302, 366, 209, 174, 210, 133, 476,
         522, 477, 309, 228, 331,  31, 321, 213,   2, 513, 113, 507, 242, 361,
         350,  23, 445, 294,  99, 471, 114, 504, 427, 358, 386, 195, 176, 460,
         288, 204, 402, 316, 153, 518, 322,  59, 339, 514, 364]))

In [959]:
train_t_u= t_u[train_indices]
train_t_c=t_c[train_indices]

val_t_u= t_u[val_indices]
val_t_c= t_c[val_indices]

In [960]:
from collections import OrderedDict

In [961]:
seq_model=nn.Sequential(OrderedDict([
    ('hidden_linear', nn.Linear(5, 8)),
    ('hidden_activation', nn.Tanh()), 
    ('output_linear', nn.Linear(8, 1))
]))

seq_model

Sequential(
  (hidden_linear): Linear(in_features=5, out_features=8, bias=True)
  (hidden_activation): Tanh()
  (output_linear): Linear(in_features=8, out_features=1, bias=True)
)

In [962]:
for name, param in seq_model.named_parameters():
    print(name, param.shape)

hidden_linear.weight torch.Size([8, 5])
hidden_linear.bias torch.Size([8])
output_linear.weight torch.Size([1, 8])
output_linear.bias torch.Size([1])

In [963]:
seq_model.output_linear.bias

Parameter containing:
tensor([0.2115], requires_grad=True)

In [964]:
def training_loop(n_epochs, optimizer, model, loss_fn, train_t_u, val_t_u, train_t_c, val_t_c):
    for epoch in range(1,n_epochs +1):
        
        t_p_train=model(train_t_u)
        loss_train= loss_fn(t_p_train, train_t_c)
        
        t_p_val=model(val_t_u)
        loss_val= loss_fn(t_p_val, val_t_c)
        
        optimizer.zero_grad()
        loss_train.backward()
        optimizer.step()
        
        if epoch ==1 or epoch % 20==0:
            print(f"Epoch {epoch}, Training loss {loss_train.item():.4f}, "
                  f" Validation loss {loss_val.item():.4f}")

In [965]:
train_t_u = train_t_u.float()

In [966]:
print(train_t_u.dtype)

torch.float32

In [967]:
val_t_u=val_t_u.float()
print(val_t_u.dtype)

torch.float32

In [968]:
train_t_c=train_t_c.float()
print(train_t_c.dtype)

torch.float32

In [969]:
val_t_c=val_t_c.float()
print(val_t_c.dtype)

torch.float32

In [973]:
optimizer= optim.SGD(seq_model.parameters(), lr=1e-1)
training_loop(
    n_epochs=200,
    optimizer= optimizer,
    model=seq_model,
    loss_fn=nn.MSELoss(),
   train_t_u=train_t_u,
   val_t_u= val_t_u,
     train_t_c= train_t_c,
   val_t_c= val_t_c)

print('output', seq_model(val_t_u))
print('answer',  val_t_c)
print('hidden', seq_model.hidden_linear.weight.grad)

Epoch 1, Training loss 0.0200,  Validation loss 0.0224
Epoch 20, Training loss 0.0171,  Validation loss 0.0186
Epoch 40, Training loss 0.0155,  Validation loss 0.0164
Epoch 60, Training loss 0.0146,  Validation loss 0.0151
Epoch 80, Training loss 0.0140,  Validation loss 0.0144
Epoch 100, Training loss 0.0137,  Validation loss 0.0139
Epoch 120, Training loss 0.0135,  Validation loss 0.0136
Epoch 140, Training loss 0.0133,  Validation loss 0.0134
Epoch 160, Training loss 0.0131,  Validation loss 0.0132
Epoch 180, Training loss 0.0130,  Validation loss 0.0130
Epoch 200, Training loss 0.0129,  Validation loss 0.0129
output tensor([[0.3432],
        [0.2204],
        [0.1677],
        [0.4481],
        [0.1378],
        [0.2278],
        [0.3936],
        [0.1006],
        [0.2240],
        [0.1117],
        [0.2786],
        [0.0957],
        [0.4803],
        [0.3205],
        [0.3561],
        [0.2913],
        [0.3295],
        [0.2743],
        [0.2875],
        [0.3691],
        [0.2400],
        [0.1068],
        [0.2440],
        [0.1277],
        [0.5971],
        [0.2053],
        [0.3485],
        [0.1871],
        [0.2733],
        [0.2093],
        [0.0577],
        [0.4528],
        [0.3316],
        [0.3741],
        [0.4027],
        [0.4024],
        [0.1109],
        [0.1592],
        [0.2225],
        [0.4891],
        [0.1109],
        [0.1858],
        [0.2076],
        [0.1078],
        [0.2303],
        [0.2446],
        [0.1212],
        [0.1409],
        [0.2571],
        [0.2909],
        [0.1750],
        [0.1492],
        [0.2065],
        [0.2175],
        [0.4345],
        [0.3660],
        [0.2179],
        [0.2876],
        [0.1035],
        [0.2484],
        [0.2854],
        [0.1688],
        [0.3241],
        [0.2525],
        [0.1033],
        [0.2203],
        [0.2435],
        [0.3020],
        [0.2648],
        [0.2846],
        [0.1765],
        [0.1308],
        [0.2740],
        [0.2820],
        [0.3848],
        [0.4237],
        [0.3205],
        [0.2780],
        [0.4484],
        [0.2154],
        [0.3567],
        [0.1026],
        [0.2001],
        [0.2060],
        [0.1811],
        [0.2988],
        [0.0470],
        [0.3026],
        [0.3412],
        [0.2023],
        [0.2456],
        [0.0941],
        [0.1698],
        [0.1002],
        [0.2418],
        [0.4279],
        [0.3349],
        [0.2323],
        [0.2284],
        [0.1802],
        [0.1498],
        [0.3822],
        [0.2699],
        [0.1006],
        [0.2288],
        [0.4127],
        [0.2856],
        [0.1871],
        [0.1895]], grad_fn=<AddmmBackward0>)
answer tensor([[0.3636],
        [0.0909],
        [0.2485],
        [0.4842],
        [0.0788],
        [0.2485],
        [0.1576],
        [0.1212],
        [0.3267],
        [0.1333],
        [0.4242],
        [0.0545],
        [0.5758],
        [0.3091],
        [0.4455],
        [0.1879],
        [0.1752],
        [0.1091],
        [0.3818],
        [0.2115],
        [0.2030],
        [0.1121],
        [0.4424],
        [0.1788],
        [0.7273],
        [0.2061],
        [0.4545],
        [0.2909],
        [0.1515],
        [0.2727],
        [0.0455],
        [0.4970],
        [0.4242],
        [0.5758],
        [0.3848],
        [0.5448],
        [0.1606],
        [0.1394],
        [0.3182],
        [0.9061],
        [0.1455],
        [0.1879],
        [0.2909],
        [0.1818],
        [0.3333],
        [0.4042],
        [0.1606],
        [0.1691],
        [0.1333],
        [0.2091],
        [0.0303],
        [0.1364],
        [0.1939],
        [0.1955],
        [0.4848],
        [0.5576],
        [0.2727],
        [0.4224],
        [0.1424],
        [0.2091],
        [0.2667],
        [0.0848],
        [0.3242],
        [0.2121],
        [0.1667],
        [0.2727],
        [0.3030],
        [0.2727],
        [0.3515],
        [0.1030],
        [0.0545],
        [0.1030],
        [0.2061],
        [0.2545],
        [0.1879],
        [0.5758],
        [0.1970],
        [0.2721],
        [0.9091],
        [0.0636],
        [0.3752],
        [0.0727],
        [0.2424],
        [0.1697],
        [0.1758],
        [0.5970],
        [0.1212],
        [0.2121],
        [0.3909],
        [0.1091],
        [0.3697],
        [0.0782],
        [0.1370],
        [0.1727],
        [0.1545],
        [0.2788],
        [0.3030],
        [0.1158],
        [0.2121],
        [0.2727],
        [0.1515],
        [0.2000],
        [0.3273],
        [0.0606],
        [0.1970],
        [0.4727],
        [0.1848],
        [0.0636],
        [0.1691]])
hidden tensor([[-1.5359e-03, -2.6091e-03,  1.7095e-03, -4.4035e-04, -4.4061e-05],
        [ 6.9040e-04,  1.0991e-03, -7.5145e-04,  1.7107e-04,  5.1062e-05],
        [-1.0180e-03, -1.4949e-03,  7.1650e-04, -2.6493e-04, -2.1514e-04],
        [ 4.4706e-04,  7.2130e-04, -5.8729e-04,  1.1986e-04, -8.7428e-06],
        [ 1.4175e-03,  2.3962e-03, -1.4434e-03,  4.8045e-04,  2.5515e-04],
        [-7.8621e-05, -1.0307e-04,  1.0608e-04,  1.9810e-05, -8.5730e-06],
        [ 1.1458e-05,  2.1008e-05, -1.5436e-05,  3.7352e-06, -2.6928e-07],
        [-7.7789e-04, -1.2768e-03,  8.8123e-04, -2.3633e-04, -8.7602e-05]])